.navbar .navbar-brand {
  color: #e50914;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #e50914;
}

.canvas {
  transform: scale(0.5);
  position: absolute;
  top: -119px;
  right: -158px;
}

.video-container {
  position: fixed;
  top: 108px;
  right: 0;
  width: 600px;
  height: 450px;
}

.black-background {
  background-color: black;
  align-items: center;
}

.align-right {
  float: right;
}
