<div class="black-background">
  <!-- nav-bar start -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/', 'movies']">NETFLICK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <app-auth-status></app-auth-status> &nbsp;
        <button class="btn btn-dark btn-sm" [routerLink]="['/donate']">
          Donate
        </button>
      </div>
    </div>
  </nav>
  <!-- nav-bar end -->
  <router-outlet></router-outlet>
  <div class="video-container">
    <button class="btn btn-dark align-right" (click)="toggleVideoVisibility()">
      {{ hideCanvas ? "🔻" : "🔺" }}
    </button>
    <video
      style="display: none"
      #video
      width="640"
      height="480"
      autoplay
      [srcObject]="stream"
    ></video>
    <canvas #canvas width="640" height="480" [hidden]="hideCanvas"></canvas>
  </div>
</div>
