<div class="login-status-header">
  <div
    *ngIf="isAuthenticated && username"
    class="collapse navbar-collapse"
    id="navbarNavDarkDropdown"
  >
    <ul class="navbar-nav">
      <li
        class="nav-item dropdown"
        *ngIf="watchedMovies$ | async as watchedMovies"
      >
        <button
          class="btn btn-dark btn-sm dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="watchedMovies.length > 0"
        >
          Continue Watching
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li *ngFor="let watchedMovie of watchedMovies">
            <a
              class="dropdown-item"
              (click)="resumeMovie(watchedMovie)"
              style="cursor: pointer"
              >{{ watchedMovie.title }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="isAuthenticated && username" class="login-status-user-info">
    Good {{ hour < 12 ? "Morning" : hour < 17 ? "Afternoon" : "Evening" }},
    {{ username | titlecase }}!
  </div>
  <button
    *ngIf="!isAuthenticated"
    [routerLink]="['/login']"
    type="button"
    class="btn btn-dark btn-sm"
  >
    Sign In
  </button>
  <button
    *ngIf="isAuthenticated"
    (click)="logout()"
    type="button"
    class="btn btn-dark btn-sm"
  >
    Sign Out
  </button>
</div>
