<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-5">Netflick</h1>
      <h6 class="masthead-subheading mb-0">Your Hand, Our Command</h6>
      <a
        class="btn btn-primary btn-xl rounded-pill mt-5"
        [routerLink]="['/movie-genres']"
        >Browse Movies</a
      >
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/01.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4" style="color: white">
            Immerse in seamless control with hand gestures
          </h2>
          <p style="color: white">
            Experience for yourself what you have only seen in movies, while
            watching them
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/02.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4" style="color: white">
            Multi-task without constraints
          </h2>
          <p style="color: white">
            Indulge together with your favourite food or messy hobbies without
            hassle
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/03.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4" style="color: white">
            Unparalleled convenience
          </h2>
          <p style="color: white">
            Forgot your mouse? Have elderly unfamiliar with computers? Just wave
            a hand!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
  <div class="container">
    <hr />
    <h2 class="mb-5">Here's what people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-1.jpg"
            alt="..."
          />
          <h5>Wilma F.</h5>
          <p class="font-weight-light mb-0">
            "This is fantastic! Thanks so much guys! "
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-2.jpg"
            alt="..."
          />
          <h5>Fred F.</h5>
          <p class="font-weight-light mb-0">
            "I would totally put a hole in my pocket for this, yet it's
            completely free. Faith in humanity restored!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-3.jpg"
            alt="..."
          />
          <h5>Betty R.</h5>
          <p class="font-weight-light mb-0">
            "Literally as convenient as lifting a few fingers. Love it! 🫰"
          </p>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
<!-- Tutorial -->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-5" style="color: white">
      Here's a quick tutorial to get you started!
    </h2>
    <hr class="divider" />
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">✊</span></div>
          <h3 class="h4 mb-2" style="color: white">The Fist</h3>
          <p class="mb-0" style="color: white">
            Pauses a playing movie / Resumes a paused movie
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">☝️</span></div>
          <h3 class="h4 mb-2" style="color: white">The Index Finger</h3>
          <p class="mb-0" style="color: white">Selects Option 1</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">✌️</span></div>
          <h3 class="h4 mb-2" style="color: white">The Peace</h3>
          <p class="mb-0" style="color: white">Selects Option 2</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">👌</span></div>
          <h3 class="h4 mb-2" style="color: white">The OK</h3>
          <p class="mb-0" style="color: white">Selects Option 3</p>
        </div>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">👍</span></div>
          <h3 class="h4 mb-2" style="color: white">The Like</h3>
          <p class="mb-0" style="color: white">
            Proceeds to view movie details / Proceeds to watch movie
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">👈</span></div>
          <h3 class="h4 mb-2" style="color: white">The Semula</h3>
          <p class="mb-0" style="color: white">
            Please go back, I would like to pick another movie
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">👋</span></div>
          <h3 class="h4 mb-2" style="color: white">The Swipe Right</h3>
          <p class="mb-0" style="color: white">
            Fast-forwards a playing movie / Scrolls forward a carousel
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><span class="fs-1 text-primary">👋</span></div>
          <h3 class="h4 mb-2" style="color: white">The Swipe Left</h3>
          <p class="mb-0" style="color: white">
            Rewinds a playing movie / Scrolls backward a carousel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
