<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Netflick</h1>
      <h2 class="masthead-subheading mb-0">Your Hand, Our Command</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll"
        >Browse Movies</a
      >
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/01.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">
            Immerse in seamless control with hand gestures
          </h2>
          <p>
            Experience for yourself what you have only seen in movies, while
            watching them
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/02.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Multi-task without constraints</h2>
          <p>
            Indulge together with your favourite food or messy hobbies without
            hassle
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="assets/img/03.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Unparalleled convenience</h2>
          <p>
            Forgot your mouse? Have elderly unfamiliar with computers? Just wave
            a hand!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-1.jpg"
            alt="..."
          />
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">
            "This is fantastic! Thanks so much guys!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-2.jpg"
            alt="..."
          />
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "I would totally put a hole in my pocket for this, yet it's
            completely free. Faith in humanity restored!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-3.jpg"
            alt="..."
          />
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            "Literally as convenient as lifting a few fingers. Love it! 🫰"
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
