<!-- Trending Movies start -->
<div id="carousel" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div
      *ngFor="let trendingMovie of trendingMovies; let i = index"
      [ngClass]="i === carouselIndex ? 'carousel-item active' : 'carousel-item'"
    >
      <img
        src="https://image.tmdb.org/t/p/original/{{
          trendingMovie.backdrop_path
        }}"
        class="d-block w-100"
        alt="{{ trendingMovie.original_title }}"
        (click)="navigateToMovieDetails(i)"
        style="cursor: pointer"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ trendingMovie.original_title }}</h1>
        <p>{{ trendingMovie.overview }}</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Trending Movies end -->
