<div
  id="carouselExampleControls"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Action.png"
              alt="Action"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Adventure.png"
              alt="Adventure"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Comedy.png"
              alt="Comedy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Drama.png"
              alt="Drama"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Family.png"
              alt="Family"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Horror.png"
              alt="Horror"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Romance.png"
              alt="Romance"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Sci-Fi.png"
              alt="Sci-Fi"
            />
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://netflick.sgp1.cdn.digitaloceanspaces.com/Thriller.png"
              alt="Thriller"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
