.carousel-inner {
  height: 100%;
}

.carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption h1 {
  color: #e50914;
  font-weight: bold;
  font-size: 25px;
}

.carousel-caption p {
  color: #ffffff;
}
