<div
  id="carouselControls"
  class="carousel carousel-dark slide .bg-black"
  data-bs-interval="false"
>
  <div
    *ngIf="loading"
    class="mt-5 pt-5"
    style="text-align: center; background: black; height: 100vh"
  >
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="carousel-inner" *ngIf="!loading && nestedGenres.length > 0">
    <div
      *ngFor="let carouselSlide of nestedGenres; let i = index"
      [ngClass]="i === carouselIndex ? 'carousel-item active' : 'carousel-item'"
    >
      <div class="cards-wrapper">
        <div class="card" *ngFor="let genre of carouselSlide">
          <div class="image-wrapper">
            <a (click)="navigateToMoviesInSelectedGenre(genre)">
              <img
                src="https://netflick.sgp1.cdn.digitaloceanspaces.com/{{
                  genre.genre_name
                }}.png"
                alt="{{ genre.genre_name }}"
                style="cursor: pointer"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    (click)="moveCarousel('left')"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    (click)="moveCarousel('right')"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
