<!-- Movies start -->
<div id="carousel" class="carousel carousel-dark slide">
  <div
    *ngIf="loading"
    class="mt-5 pt-5"
    style="text-align: center; background: black; height: 100vh"
  >
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="carousel-inner" *ngIf="!loading && movies.length > 0">
    <div
      *ngFor="let movie of movies; let i = index"
      [ngClass]="i === carouselIndex ? 'carousel-item active' : 'carousel-item'"
    >
      <img
        src="https://i3.ytimg.com/vi/{{ movie.video_id }}/maxresdefault.jpg"
        class="d-block w-100"
        alt="{{ movie.title }}"
        (click)="navigateToMovieDetails(i)"
        style="cursor: pointer"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ movie.title }}</h1>
        <p>{{ movie.description }}</p>
        <button
          type="button"
          class="btn btn-dark btn-sm"
          (click)="navigateToMovieGenres(i)"
        >
          Back</button
        >&nbsp;
        <button
          type="button"
          class="btn btn-dark btn-sm"
          (click)="navigateToMovieDetails(i)"
        >
          Details
        </button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    style="top: 10%"
    type="button"
    (click)="moveCarousel('left')"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    style="top: 10%"
    type="button"
    (click)="moveCarousel('right')"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Movies end -->
